body {
    font-family: Arial, sans-serif;
}
.input-container div {
    width: 100%;
}

/* .input-container div #checkin{
    width: 100%;
} */
.container {
    width: 100%;
    margin: 0 auto;
}
.booking-form {
    background: #f1f1f1;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.input-container {
    display: flex;
    gap: 30px;
    margin: 10px;
}
/* .booking-form div {
    flex: 1;
    margin: 10px;
    min-width: 200px;
} */
.check-input {
    margin-top: 29px;
}
.booking-form label {
    display: block;
    margin-bottom: 5px;
}
.input-container input[type="date"],
.input-container input[type="number"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
.booking-form .check-availability-btn {
    background-color: #d9534f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    min-width: 200px;
}
/* .check-input{
    align-items: center;
    width: 100%;
} */
.booking-form .check-availability-btn:hover {
    background-color: #c9302c;
}
.no-rooms-message {
    text-align: center;
    font-size: 1.2em;
    color: #555;
    margin-top: 20px;
}
.rooms {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card {
    background: #fff;
    border: 1px solid #ddd;
    margin: 10px;
    width: 23%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 0 0 calc(25% - 20px);
}
.card img {
    width: 100%;
    height: auto;
}
.card-body {
    padding: 15px;
}
.card-title {
    font-size: 1.2em;
    margin-bottom: 10px;
}
.card-text {
    margin-bottom: 10px;
}
.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}
.btn-primary:hover {
    background-color: #0056b3;
}

/* Media Queries */
@media (max-width: 1100px) {
    .card {
        width: 35%;
    }
}

@media (max-width: 992px) {
    .card {
        flex: 0 0 calc(50% - 20px);
        width: 100%;
    }
    .input-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}

@media (max-width: 768px) {
    .booking-form {
        flex-direction: column;
        padding-top: 5px;
        padding-left: 2px;
        margin: 15px 10px auto;
    }

    .card {
        flex: 0 0 calc(50% - 20px);
        width: 100%;
    }
    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 100%;
    }
    .input-container {
        display: flex;
        width: 100%;
        gap: 10px;
    }
    .input-container #checkin {
        width: 100%;
    }
    .input-container label {
        width: 100%;
        font-size: small;
    }
    .input-container input {
        width: 100%;
        font-size: small;
    }
    .check-input {
        margin-top: auto;
    }
    .card-title {
        font-size: medium;
    }
    .card-text {
        font-size: small;
    }
    .btn-primary {
        align-self: center;
        margin-top: auto;
        vertical-align: bottom;
    }
}

/* @media (max-width: 576px) {
    .booking-form div {
        min-width: auto;
        margin: 5px 0;
    }
    .booking-form .check-availability-btn {
        width: 100%;
    }
} */
