#select-room-form {
    justify-content: center;
    margin: 10px 0px;
}

.basic-details-div {
    gap: 10px;
    justify-content: center;
}

.basic-details-div-1 {
    flex-wrap: nowrap;
    border: 1px solid #326869;
    background-color: #ffffff;
    border-radius: 7px;

    padding: 5px;
    align-items: center;
    justify-content: center;
}

.basic-details-div-1 button,
div p,
h3 {
    margin: 0px;
    text-align: center;
}

.basic-details-div-1 div p,
h3 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
}

.basic-details-div-1 div p {
    font-size: 15px;
}

.basic-details-div-1 div h3 {
    font-size: 16px;
    font-weight: bold;
}

.basic-details-div-1 button {
    font-size: 18px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: #326869;
}

.main-basic-details-div {
    position: sticky;
    top: 0px;
    bottom: 0px;
    margin: 5px 0px;
    padding: 10px 0px;
    z-index: 10;
    /* background-color: #FFFFFF; */
    /* border: 1px solid grey; */
    border-radius: 7px;
}

.basic-details-div-over {
    margin: 5px 0px;
    border: 1px solid red;
}

.active-datePicker {
    display: block !important;
    position: sticky !important;
}