:root{
    --font-family-1: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#select-room-form {
    justify-content: center;
    margin: 10px 0px;
}

.basic-details-div {
    gap: 10px;
    justify-content: center;
}

.basic-details-div-1 {
    flex-wrap: nowrap;
    border: 1px solid #326869;
    background-color: #ffffff;
    border-radius: 7px;

    padding: 5px;
    align-items: center;
    justify-content: center;
}

.basic-details-div-1 button,
div p,
h3 {
    margin: 0px;
    text-align: center;
}

.basic-details-div-1 div p,
h3 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
}

.basic-details-div-1 div p {
    font-size: 15px;
}

.basic-details-div-1 div h3 {
    font-size: 16px;
    font-weight: bold;
}

.basic-details-div-1 button {
    font-size: 18px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: #326869;
}

.main-basic-details-div {
    position: sticky;
    top: 0px;
    bottom: 0px;
    margin: 5px 0px;
    padding: 10px 0px;
    z-index: 10;
    /* background-color: #FFFFFF; */
    /* border: 1px solid grey; */
    border-radius: 7px;
}

.basic-details-div-over {
    margin: 5px 0px;
    border: 1px solid red;
}

.active-datePicker {
    display: block !important;
    position: sticky !important;
}

.room-person-count-div {
    margin: 5px 0px;
    justify-content: center;
}

.room-person-count-div-1 {
    box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -59px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    border-radius: 7px 7px 0px 0px;
    overflow: hidden;
}

.room-person-count-head{
    background-color: #EEEEEF;
    padding: 7px;
    justify-content: space-between;
}

.room-person-count-head-1{
    font-size: 16px;
    font-weight: bold;
    font-family: var(--font-family-1);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.room-person-count-head-1 span:last-child{
    width: 36px;
    height: 36px;
    display: flex;
    border-radius: 50%;
    background-color: #326869;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0px !important;
    color: white;
}
