iframe {
    width: 100%;
}

.contact-form {
    background-color: rgb(235, 235, 235);
    padding: 10px 30px;
    border-radius: 10px;
}

.contact-form form input {
    background-color: rgb(255, 252, 248);
    border: none;
}

.contact-form form textarea {
    background-color: rgb(255, 252, 248);
    border: none;
}

.contact-form form label {
    color: #0d6efd;
    font-size: large;
    font-weight: bold;
    margin: 12px 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/* @media only screen and(max-width:319px){
    iframe{
        width: 100px;
        height: 30vh;
    }
} */


.contact-form-div {
    /* border: 1px solid red; */
    padding: 0px !important;
    margin: 0px !important;
    height: fit-content;
}

.contact-form-div label {
    padding: 0px !important;
    margin: 7px 0px !important;
}

.contact-form-div input {
    margin-bottom: 7px;
}

.contact-form-div p {
    margin: 5px 0px;
    padding: 0px 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color: red;
}

.contact-submit-btn {
    width: 130px;
}